
/* ==========================================================================
   Global
   ========================================================================== */
html {
  background-color: var(--mainColor);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media (--tablet) {
  html {
    background-color: var(--mobileColor);
  }
}
