:root {
  --mainColor: greenyellow;
  --mobileColor: orangered;
}


html {
  background-color: var(--mainColor);
  display: flex;
}

@media (width >= 31em) and (width <= 62.5em) {
  html {
    background-color: var(--mobileColor);
  }
}

.title {
  font-family: 'Droid Sans';
  text-transform: uppercase;
}
