
/* Variables
   ========================================================================== */

:root {
  --mainColor: greenyellow;
  --mobileColor: orangered;

}


/* Custom @media
   ========================================================================== */

@custom-media --tablet (width >= 31em) and (width <= 62.5em);



/* Style
   ========================================================================== */

html {
  background-color: var(--mainColor);
  font-family: 'Lato';
  font-weight: 300;
}

@media (--tablet) {
  html {
    background-color: var(--mobileColor);
  }
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
}
